# Ignore everything
*

!.gitignore

# Documentation
!README.md

# Devcontainer setup
!.devcontainer/
!.devcontainer/devcontainer.json
!.devcontainer/bash_aliases

# bootc container image
!.containerignore
!Containerfile
!container/
!container/*
!container/*/*
!container/*/*/*
!container/*/*/*/*
!container/*/*/*/*/*

# Terraform
!terraform/
!terraform/*.tf
!terraform/*.tftpl
!terraform/*.yml

# Documentation
!doc/
!doc/*.md
